// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

@use "../abstracts/" as *;

.attribution {
	text-align: center;
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
	min-width: 100%;
}